html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

#viewDiv {
  padding: 0;
  margin: 0;
  flex: 1;
}

#timeSlider {
  position: absolute;
  width: 70vw;
  left: 5%;
  right: 5%;
  bottom: 0px;
}

#headerDiv {
  left: 0;
  right: 0;
  text-align: left;
  height: 45;
  background: rgb(53, 53, 53, 1);
  font-size: 25pt;
  display: flex;
  border: 2px solid #ccc;
}

.headerItem {
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

#logoDiv{
  justify-content: left;
  flex: .5;
}

#logo{
  height:auto;
  width:14pc;
}

#titleDiv{
  font-size: 16pt;
  font-weight: 500;
  color: white;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  gap: 10px
}


#title1 {
  float: left;
  font-size: 20px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
}

#title2 {
  float: left;
  font-size: 0.65em;
  font-weight: 400;
  color: white;
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
}

#aboutDiv {
  flex: 0.5;
  gap: 5px;
  justify-content: right;
  padding: 5px;
}


#aboutTextDiv{
  font-size: 0.45em;
  font-weight: 400;
}


#instructionsDiv {
  width: 240px;
  padding: 10px;
  height: 300px;
}

#symbology {
  height: 67vh;
  padding-top: 50px;
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(53, 53, 53, 1);
  display: none;
  flex-direction: column;
}

#chartPanel {
  display: none;
  flex-direction: column;
  height: 82vh;
  width: 40vh;
  font-size: 14px;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  background: rgba(53, 53, 53, 1);
  border: 2px solid #ccc;
}

.section {
  flex: 1;
  /* position: relative; */
  /* border: 1px solid #ccc; */
  /* box-sizing: border-box; */
}

.sectionChartToggle {
  display: grid;
  grid-template-columns: 0.07fr 1fr;

  /* grid-gap: .5vh; */
}

.my-link {
  color: white; /* Set the default color */
  /* text-decoration: none; Optional: Remove the underline */
}

.my-link:hover {
  color: red; /* Change color on hover */
}

.my-link:visited {
  color: white; /* Set the color for visited links */
}

.count {
  /* flex: 1; */
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

#resetButton,
#andButton,
#orButton,
#typeButton,
#bltDecButton,
#densityButton,
#valueButton {
  color: white;
}

.logicDiv {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-gap: 0.5vh;
}

#sbHeader {
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}
#resetDiv {
  text-align: center;
  width: 100%;
  /* height:50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#filtersPanel {
  display: none;
  width: 400px;
  padding: 10px;
  height: 70vh;
  overflow-y: auto;
  border: 2px solid #ccc;
  background-color: #353535;
  color: #ffffff;
}

.style-button {
  margin: 2px;
}

.sbContainer1 {
  display: grid;
  /* height:300px; */
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 0.75fr 2fr;
  /* gap: 10px; */
  column-gap: 10px;
  row-gap: 4px;
  padding: 9px;
  border: 1px solid #ccc;
}

.sbContainer2 {
  display: grid;
  /* height:300px; */
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 0.75fr 2fr;
  /* gap: 10px; */
  column-gap: 10px;
  row-gap: 4px;
  padding: 9px;
  border: 1px solid #ccc;
}

.sbItem {
  /* border: 1px solid #cccccc60; */
  /* padding: 10px; */
  text-align: center;
}

.sbItemHeader {
  /* border: 1px solid #cccccc60; */
  /* padding: 10px; */
  text-align: right;
  line-height: 2;
  /* font-size: .9vw; */
}

div.esri-time-slider__animation,
div.esri-time-slider__previous,
div.esri-time-slider__next {
  display: none;
}

@media all and (max-width: 1100px) {
  #logo {
    width:10pc;
  }
  
  #title1 {
    font-size: 13px;
    /* text-align: justify; */
    /* text-align-last: center; */
  }
  #title2 {
    font-size: 12px;
  }
}

@media all and (max-width: 796px) {
  #titleDiv{
    flex-direction: column;
    gap: 0px;
  }
}

@media all and (max-width: 640px) {
  
  #timeSlider {
    position: sticky;
  }

  #filtersPanel {
    position: sticky;
    width: 100%;
    height: 88%;
  }

  #symbology {
    position: sticky;
    width: 100%;
    height: 88%;
  }

  #chartPanel {
    position: sticky;
    overflow-y: auto;
    width: 95%;
    height: 90%;
  }

  #logo {
    width:5.5pc;
  }

  #title1 {
    font-size: 10px;
  }

  #title2 {
    font-size: 9px;
  }

  #aboutDiv{
    padding: 0px;
  }

  .my-link {
    color: white; /* Set the default color */
    /* text-decoration: none; Optional: Remove the underline */
    display: none;
  }
}
